<h1>配送先一覧</h1>
<table>
    <tr>
        <th>郵便番号</th>
        <tb></tb>
    </tr>
    <tr>
        <th>住所</th>
        <tb></tb>
    </tr>
    <tr>
        <th>宛先</th>
        <tb></tb>
    </tr>
    <div>編集</div>
    <div>削除</div>
</table>