<h1>facty</h1>
<h3>ようこそ的なサムシング</h3>
<p>文字が入ります。文字が入ります。文字が入ります。文字が入ります。</br>
文字が入ります。文字が入ります。文字が入ります。文字が入ります。</br>
文字が入ります。文字が入ります。文字が入ります。文字が入ります。</p>

<div>
    ログインはこちら
</div>
<div>
    新規登録はこちら
</div>