<h1>商品編集</h1>
<table>
    <tr>
        <th>画像、動画</th>
        <tb></tb>
    </tr>
    <tr>
        <th>商品名</th>
        <tb></tb>
    </tr>
    <tr>
        <th>商品説明</th>
        <tb></tb>
    </tr>
    <tr>
        <th>ジャンル</th>
        <tb></tb>
    </tr>
    <tr>
        <th>価格</th>
        <tb></tb>
    </tr>
</table>
<div>保存</div>