<h1>編集ページ</h1>
<table>
    <tr>
        <th>name</th>
        <tb></tb>
    </tr>
    <tr>
        <th>郵便番号</th>
        <tb></tb>
    </tr>
    <tr>
        <th>住所</th>
        <tb></tb>
    </tr>
    <tr>
        <th>電話番号</th>
        <tb></tb>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <tb></tb>
    </tr>
</table>
<div>
    保存
</div>