<h1>マイページ</h1>
<table>
    <tr>
        <th>写真</th>
        <tb></tb>
    </tr>
    <tr>
        <th>name</th>
        <tb></tb>
    </tr>
    <tr>
        <th>紹介文</th>
        <tb></tb>
    </tr>
    <tr>
        <th>住所</th>
        <tb></tb>
    </tr>
    <tr>
        <th>電話番号</th>
        <tb></tb>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <tb></tb>
    </tr>
</table>
<div>
    編集
</div>